enabled = true;
url = "https://openrouter.ai/api/v1/chat/completions";
api_key = "{{ rspamd_gpt_api_key }}";
model = "google/gemini-2.5-flash-lite-preview-09-2025";
autolearn = true;

symbols_to_except = {
  BAYES_SPAM = 0.9,
  WHITELIST_SPF = -1,
  WHITELIST_DKIM = -1,
  WHITELIST_DMARC = -1,
  FUZZY_DENIED = -1,
  REPLY = -1,
  BOUNCE = -1,
  LOCAL_FUZZY_DENIED = -1,
  MAILCOW_FUZZY_DENIED = -1,
};
