enabled = true;
url = "https://litellm.apps.openshift.gnome.org/v1/chat/completions";
api_key = "{{ rspamd_gpt_api_key }}";
model = "gpt-oss-120b";
max_tokens = 500;
autolearn = true;

symbols_to_except = {
  BAYES_SPAM = 0.9,
  WHITELIST_SPF = -1,
  WHITELIST_DKIM = -1,
  WHITELIST_DMARC = -1,
  FUZZY_DENIED = -1,
  REPLY = -1,
  BOUNCE = -1,
  LOCAL_FUZZY_DENIED = -1,
  MAILCOW_FUZZY_DENIED = -1,
};
