#######################
## MANAGED BY PUPPET ##
#######################
#
# Some mail is just plain annoying - this is here to stop it


# Enable sender address verification (and bounces)
bugzilla-daemon@bugzilla.gnome.org	OK
bugzilla@gnome.org			OK

