#######################
## MANAGED BY PUPPET ##
#######################
#
# Some mail is just plain annoying - this is here to stop it

# Damn flood
security.symantec.com		REJECT Stop flooding us with SPAM
receita@fazenda.gov.br		REJECT Stop flooding us with SPAM
jimmykight@cableone.net		REJECT Stop flooding us with SPAM
postmaster@mail01.dd24.net	REJECT Fix your broken mailserver
DrWEB-MAIL-DAEMON@ur.rags.ru	REJECT Forged antivirus spam emails

# SEO
alyona.lompar@gmx.com		REJECT Don't want SEO emails

# spam newsletter -- ovitters 1 Oct 2006
simong@cisa.asn.au		REJECT Your spam is not wanted here
link_exchange@			REJECT Your spam is not wanted here
famouswhy.com			REJECT Your spam is not wanted here
office@futureanalyzer.com	REJECT Your spam is not wanted here
badoo.com			REJECT Your spam is not wanted here
imoffice.com			REJECT Your spam is not wanted here

otenet.gr           REJECT Your spam is not wanted here
aliceadsl.fr        REJECT Your spam is not wanted here
bezeqint.net        REJECT Your spam is not wanted here
asianet.co.th       REJECT Your spam is not wanted here
airtelbroadband.in  REJECT Your spam is not wanted here
adee@airiti.com     REJECT Your spam is not wanted here
marketing@editorabarauna.com.br	REJECT Your spam is not wanted here
emarketing2sofsol@gmail.com	REJECT Your spam is not wanted here
afrodix.net         REJECT Your spam is not wanted here
clickdeal.co.il     REJECT Your spam is not wanted here
computa.co.il       REJECT Your spam is not wanted here
vivaweb.net         REJECT Your spam is not wanted here

# From bz# 661566
dokumera.anp.se     REJECT Your spam is not wanted here
ppadv.com           REJECT Your spam is not wanted here
carloan.com         REJECT Your spam is not wanted here
automotivedigest.com REJECT Your spam is not wanted here
autonewsmarketing.com REJECT Your spam is not wanted here
queenspromotiongroup.com REJECT Your spam is not wanted here
cactusskyclients.com REJECT Your spam is not wanted here
cactusskyonline.com REJECT Your spam is not wanted here
cactusskyadv.com    REJECT Your spam is not wanted here
cactussky.com       REJECT Your spam is not wanted here
daysales.se         REJECT Your spam is not wanted here
mail.vresp.com      REJECT Your spam is not wanted here
promo-studio.com    REJECT Your spam is not wanted here
pcworld.com.vn      REJECT Your spam is not wanted here
easymedia.vn        REJECT Your spam is not wanted here
asiamediagroup.hk   REJECT Your spam is not wanted here
voyage.co.uk        REJECT Your spam is not wanted here
yourinfo.carloan.com REJECT Your spam is not wanted here
queenspromotiongroup.com REJECT Your spam is not wanted here
nassoo.org          REJECT Go phish somewhere else spammer

info@banksnews.gr		REJECT You are the spammer, not us

boxbe.com			REJECT Your anti-spam solution is broken by design

rht.com			REJECT Send head hunter spam elsewhere

# Allow address verification to work as well as bounces
<>			check_recipient_bounce
double-bounce@		check_recipient_bounce
postmaster@		check_recipient_bounce


jeffreydavidmorris@yahoo.com	REJECT Your offtopic messages are not wanted here
quickjo88@gmail.com		REJECT Your spam is not wanted here
googlegroups.com		REJECT Too much spam, little action
georgepeter@hushmail.com	REJECT Your offtopic messages are not wanted here
newsletters@radlab.it		REJECT Your spam is not wanted here

# https://bugzilla.gnome.org/show_bug.cgi?id=763091
mag2.com                REJECT Spam
.mag2.com               REJECT Spam
mag2tayori.com          REJECT Spam
.mag2tayori.com         REJECT Spam
mag2letter.com          REJECT Spam
.mag2letter.com         REJECT Spam
mag2-letter.com         REJECT Spam
.mag2-letter.com        REJECT Spam
mag2sender.com          REJECT Spam
.mag2sender.com         REJECT Spam

e.tspb.org.tr           REJECT Spam
