#######################
## MANAGED BY ANSIBLE ##
#######################
#
# Some mail is just plain annoying - this is here to stop it

# These guys don't even know who to spam... -- gpastore, 02/06/2006
submit@bugs.gnome.org		REJECT Please use the webinterface at http://bugzilla.gnome.org/ to file bugs or upgrade Bug-Buddy to 2.16 or newer
postmaster@bugs.gnome.org	REJECT Please mail <postmaster@gnome.org> instead
bugs.gnome.org			REJECT Your dictionary attacks have tired us, buzz off
bugzilla.gnome.org			REJECT Your dictionary attacks have tired us, buzz off
# ovitters: To allow sender based verification, this is repeated in the virtual maps (see bug 621198)
bugzilla-daemon@bugzilla.gnome.org	REJECT Please use the web interface at http://bugzilla.gnome.org/
bugzilla@gnome.org	REJECT Please use the web interface at http://bugzilla.gnome.org/

nobody@gnome.org		REJECT Stop the backscatter already
groupon@gnome.org		REJECT This e-mail alias has been disabled, please mail board@gnome.org instead

svnmaster@gnome.org     REJECT This alias has been disabled. Ways to contact the GNOME Infrastructure Team are available at https://wiki.gnome.org/Infrastructure/Contact.
elections@gnome.org     REJECT This alias has been disabled, please send an email to membership-committee@gnome.org instead
mailman@gnome.org REJECT This alias has been disabled. Ways to contact the GNOME Infrastructure Team are available at https://wiki.gnome.org/Infrastructure/Contact.
planet@gnome.org REJECT This alias has been disabled. Ways to contact the GNOME Infrastructure Team are available at https://wiki.gnome.org/Infrastructure/Contact.
gitmaster@gnome.org REJECT This alias has been disabled. Ways to contact the GNOME Infrastructure Team are available at https://wiki.gnome.org/Infrastructure/Contact.
dnsmaster@gnome.org REJECT This alias has been disabled. Ways to contact the GNOME Infrastructure Team are available at https://wiki.gnome.org/Infrastructure/Contact.
accounts@gnome.org REJECT This alias has been disabled. Ways to contact the GNOME Infrastructure Team are available at https://wiki.gnome.org/Infrastructure/Contact.
secresp@gnome.org REJECT This alias has been disabled. Ways to contact the GNOME Infrastructure Team are available at https://wiki.gnome.org/Infrastructure/Contact.

bin@		REJECT Spammer go away
daemon@		REJECT Spammer go away
adm@		REJECT Spammer go away
lp@		REJECT Spammer go away
sync@		REJECT Spammer go away
shutdown@	REJECT Spammer go away
halt@		REJECT Spammer go away
mail@		REJECT Spammer go away
news@		REJECT Spammer go away
uucp@		REJECT Spammer go away
operator@	REJECT Spammer go away
games@		REJECT Spammer go away
gopher@		REJECT Spammer go away
ftp@		REJECT Spammer go away
nobody@		REJECT Spammer go away
radiusd@	REJECT Spammer go away
nut@		REJECT Spammer go away
dbus@		REJECT Spammer go away
vcsa@		REJECT Spammer go away
canna@		REJECT Spammer go away
wnn@		REJECT Spammer go away
rpm@		REJECT Spammer go away
nscd@		REJECT Spammer go away
pcap@		REJECT Spammer go away
apache@		REJECT Spammer go away
webalizer@	REJECT Spammer go away
dovecot@	REJECT Spammer go away
fax@		REJECT Spammer go away
quagga@		REJECT Spammer go away
radvd@		REJECT Spammer go away
pvm@		REJECT Spammer go away
amanda@		REJECT Spammer go away
privoxy@	REJECT Spammer go away
ident@		REJECT Spammer go away
named@		REJECT Spammer go away
xfs@		REJECT Spammer go away
gdm@		REJECT Spammer go away
mailnull@	REJECT Spammer go away
postgres@	REJECT Spammer go away
sshd@		REJECT Spammer go away
smmsp@		REJECT Spammer go away
postfix@	REJECT Spammer go away
netdump@	REJECT Spammer go away
ldap@		REJECT Spammer go away
squid@		REJECT Spammer go away
ntp@		REJECT Spammer go away
mysql@		REJECT Spammer go away
desktop@discourse.gnome.org OK
desktop@	REJECT Spammer go away
rpcuser@	REJECT Spammer go away
rpc@		REJECT Spammer go away
nfsnobody@	REJECT Spammer go away

ingres@		REJECT Spammer go away
system@		REJECT Spammer go away
toor@		REJECT Spammer go away
manager@	REJECT Spammer go away
dumper@		REJECT Spammer go away
abuse@		REJECT Spammer go away

newsadm@	REJECT Spammer go away
newsadmin@	REJECT Spammer go away
usenet@		REJECT Spammer go away
ftpadm@		REJECT Spammer go away
ftpadmin@	REJECT Spammer go away
ftp-adm@	REJECT Spammer go away
ftp-admin@	REJECT Spammer go away
www@		REJECT Spammer go away
noc@		REJECT Spammer go away

#decode:         root

