#######################
## MANAGED BY ANSIBLE ##
#######################
#
# Put exceptions to RBL blocklisting here

# ovitters 2011-06-16: exception for James Liggett / bug 652681
68.230.241.143		OK
68.230.241.146		OK
68.230.241.147		OK

# ovitters: 2011-12-21: bug 666694

212.27.42		OK

209.85.216.182		OK

# averi: 04/02/2013 - Exception for juntadeandalucia.es (Juanjo Marin) 
217.12.27.159		OK

# averi: 13/03/2013 - Exception for battle.net (Benjamin Otte)
12.129.242.48		OK

# averi: 13/07/2013 - Exception for Bastian Ilsø (Urne)
212.97.132.42		OK

# averi: 14/08/2013 - Exception for smtp.osuosl.org
140.211.166		OK
