#######################
## MANAGED BY PUPPET ##
#######################

# Discourse reply by e-mail
discourse.gnome.org smtp:172.31.2.37:10025

devnull@gnome.org discard:silently
devnull@smtp.gnome.org discard:silently

#######################
## MANAGED BY PUPPET ##
#######################
