/^incoming+[a-fA-F0-9]{32}@gitlab\.gnome\.org$/ gitlab-incoming-email@staff-mail.gnome.org
# https://gitlab.gnome.org/Infrastructure/GitLab/issues/319
/^.+@gitlab\.gnome\.org$/ gitlab-servicedesk-email@staff-mail.gnome.org
