/^incoming\+[0-9]+-[a-z0-9]{25}@gitlab\.gnome\.org$/ gitlab-incoming-email@staff-mail.gnome.org
# https://gitlab.gnome.org/Infrastructure/GitLab/issues/319
/^.+@gitlab\.gnome\.org$/ gitlab-servicedesk-email@staff-mail.gnome.org
