*.* action(type="omfwd"
      queue.type="linkedlist"
      queue.filename="omfwd"
      action.resumeRetryCount="-1"
      queue.saveOnShutdown="on"
      target="vpn.bastion02.gnome.org" port="1514" protocol="tcp"
      Template="RSYSLOG_SyslogProtocol23Format"
)
