[Unit]
Description=Flat-manager for GNOME OS
After=postgresql.service

[Service]
User=flat-manager
Group=flat-manager
WorkingDirectory=/srv/repo
ExecStart=/usr/local/bin/flat-manager-ostree

Environment=REPO_CONFIG=/etc/flat-manager/ostree.json
Environment=RUST_BACKTRACE=1

[Install]
WantedBy=multi-user.target
