[Unit]
Description=Prometheus postgres Exporter
After=network-online.target
StartLimitInterval=0
StartLimitIntervalSec=0

[Service]
Type=simple
User=postgres_exporter
Group=postgres_exporter
Environment="DATA_SOURCE_NAME=postgresql://postgres_exporter:{{ postgres_exporter_password }}@{{ postgres_exporter_host }}:5432/postgres?sslmode=disable"
Environment=PG_EXPORTER_EXTEND_QUERY_PATH=/etc/postgres_exporter.queries.yml
ExecStart=/usr/local/bin/postgres_exporter

SyslogIdentifier=postgres_exporter
Restart=always
RestartSec=5

LockPersonality=true
NoNewPrivileges=true
MemoryDenyWriteExecute=true
PrivateTmp=true
ProtectHome=true
RemoveIPC=true
RestrictSUIDSGID=true
