passdb {
  driver = ldap
  args = /etc/dovecot/conf.d/dovecot-ldap.conf.ext
}

userdb {
  driver = ldap
  args = /etc/dovecot/conf.d/dovecot-ldap.conf.ext
  default_fields = home={{ dovecot_homedir }}
}
