global:
  scrape_interval: 15s
  evaluation_interval: 15s
  scrape_timeout: 10s

rule_files:
  - rules/*.rules

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets:
          - 127.0.0.1:9090

  - job_name: 'node'
    static_configs:
{% set gitlab_runner_targets = [] %}
{% for host in groups['gitlab-runners'] %}
{%   set ts_interface = hostvars[host].ansible_facts.get('tailscale0', {}) %}
{%   set ts_ipv4 = ts_interface.get('ipv4', {}) %}
{%   set ts_ip = ts_ipv4.get('address') %}
{%   if ts_ip %}
{%     set _ = gitlab_runner_targets.append(ts_ip ~ ':9100') %}
{%   endif %}
{% endfor %}
{% if gitlab_runner_targets %}
      - targets:
{% for target in gitlab_runner_targets %}
          - "{{ target }}"
{% endfor %}
        labels:
          role: gitlab-runner
{% endif %}

{% set external_targets = [] %}
{% for host in groups['external'] %}
{%   set ts_interface = hostvars[host].ansible_facts.get('tailscale0', {}) %}
{%   set ts_ipv4 = ts_interface.get('ipv4', {}) %}
{%   set ts_ip = ts_ipv4.get('address') %}
{%   if ts_ip %}
{%     set _ = external_targets.append(ts_ip ~ ':9100') %}
{%   endif %}
{% endfor %}
{% if external_targets %}
      - targets:
{% for target in external_targets %}
          - "{{ target }}"
{% endfor %}
{% endif %}

    relabel_configs:
{% for host in groups['gitlab-runners'] + groups['external'] %}
{%   set ts_interface = hostvars[host].ansible_facts.get('tailscale0', {}) %}
{%   set ts_ipv4 = ts_interface.get('ipv4', {}) %}
{%   set ts_ip = ts_ipv4.get('address') %}
{%   if ts_ip %}
      - source_labels: [ __address__ ]
        target_label: instance
        regex: "{{ ts_ip }}:9100"
        replacement: "{{ host }}"
{%   endif %}
{% endfor %}
