[Unit]
Description=Redis In-Memory Data Store
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target
RequiresMountsFor=/run/user/{{ podman_user.uid }}/containers
BindsTo=mirrorbits-pod.service
After=mirrorbits-pod.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=always
TimeoutStopSec=70
ExecStartPre=-rm -f /run/user/{{ podman_user.uid }}/%n.ctr-id
ExecStart=/usr/bin/podman \
	--url unix:/run/user/{{ podman_user.uid }}/podman/podman.sock container run \
	--cidfile=/run/user/{{ podman_user.uid }}/%n.ctr-id \
	--cgroups=no-conmon \
	--rm \
	--attach STDOUT \
	--attach STDERR \
	--sdnotify=conmon \
	--replace \
	--name redis \
        --pod mirrorbits \
	--volume /home/podman/redis:/data:Z \
	--label io.containers.autoupdate=image \
	docker.io/redis:6.2
ExecStop=/usr/bin/podman stop \
	--ignore -t 10 \
	--cidfile=/run/user/{{ podman_user.uid }}/%n.ctr-id
ExecStopPost=/usr/bin/podman rm \
	-f \
	--ignore -t 10 \
	--cidfile=/run/user/{{ podman_user.uid }}/%n.ctr-id
NotifyAccess=all

[Install]
WantedBy=default.target
