[config]
mirror-base-url-push = {{ lorry.mirror_base_url }}
mirror-base-url-fetch = {{ lorry.mirror_base_url }}
bundle = never
tarball = never
working-area = /data/working-area
verbose = yes
log = stderr
log-level = debug
