[Unit]
Description=Lorry under Docker Compose
Requires=docker.service
After=docker.service

[Service]
Environment="LORRY_SSH_KEY={{ lorry.ssh_key | replace('\n', '\\n')  }}"
Environment=LORRY_SSH_KNOWN_HOSTS={{ lorry.gitlab_domain }}
Type=oneshot
RemainAfterExit=yes
WorkingDirectory={{ lorry_data_dir }}
ExecStart=/usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
