{
    "repos": {
        "gnomeos": {
            "path": "/srv/repo/public_html/gnomeos/repo",
            "base-url": "https://nightly.gnome.org/gnomeos/repo/" ,
            "gpg-key": "465CFBB96ADF0657",
            "suggested-repo-name": "gnomeos",
            "runtime-repo-url": "https://nightly.gnome.org/gnome-nightly.flatpakrepo" ,
            "collection-id": "org.gnome.GnomeOS",
            "subsets": {},
	    "post-publish-script": "/etc/flat-manager/post-publish.sh"
        }
    },
    "host": "127.0.0.1",
    "port": 8081,
    "base-url": "https://nightly.gnome.org",
    "database-url": "postgres://%2Fvar%2Frun%2Fpostgresql/flat-manager-ostree",
    "build-repo-base": "/srv/repo/public_html/gnomeos/uploads",
    "build-gpg-key": "465CFBB96ADF0657",
    "gpg-homedir": "/srv/repo/.gnupg",
    "secret": "{{ flat_manager_secret }}"
}
