[Unit]
Description=Prometheus Mysqld Exporter
After=network-online.target
StartLimitInterval=0
StartLimitIntervalSec=0

[Service]
Type=simple
User=mysqld_exporter
Group=mysqld_exporter
Environment="DATA_SOURCE_NAME=exporter:{{ mysqld_exporter_password }}@({{ mysqld_exporter_host }}:3306)/"
ExecStart=/usr/local/bin/mysqld_exporter

SyslogIdentifier=mysqld_exporter
Restart=always
RestartSec=5

LockPersonality=true
NoNewPrivileges=true
MemoryDenyWriteExecute=true
PrivateTmp=true
ProtectHome=true
RemoveIPC=true
RestrictSUIDSGID=true
