---
- name: Add tailscale repo
  ansible.builtin.command: >
    dnf config-manager
    {% if ansible_distribution == 'Fedora' %}
    {% if ansible_distribution_major_version == '40' %}
    --add-repo
    {% else %}
    addrepo --from-repofile
    {% endif %}
    https://pkgs.tailscale.com/stable/fedora/tailscale.repo
    {% elif ansible_distribution == 'RedHat' %}
    addrepo --from-repofile
    https://pkgs.tailscale.com/stable/rhel/{{ ansible_distribution_major_version }}/tailscale.repo
    {% endif %}
  args:
    creates: /etc/yum.repos.d/tailscale.repo

- name: Install base packages
  ansible.builtin.package:
    name:
      - htop
      - ncdu
      - sudo
      - vnstat
      - dnf-automatic
      - "{{ 'golang-github-prometheus-node-exporter' if ansible_distribution_major_version == '40' else 'node-exporter' }}"
      - vim-minimal
    state: present
    update_cache: true

- name: Install tailscale
  ansible.builtin.package:
    name:
      - tailscale
    state: present
    update_cache: true
  register: tailscale_pkg_result

- name: Remind to configure tailscale
  ansible.builtin.pause:
    prompt: "ssh to the server and configure tailscale"
  when: tailscale_pkg_result.changed

- name: Start and enable services
  ansible.builtin.systemd:
    state: started
    name: "{{ item }}"
    enabled: true
  with_items:
    - tailscaled
    - vnstat
    - dnf-automatic.timer
    - node_exporter

- name: Configure chronyd
  ansible.builtin.include_role:
    name: chrony

- name: Configure dnf-automatic.conf for automatic updates and reboot
  ansible.builtin.lineinfile:
    path: /etc/dnf/automatic.conf
    regexp: "^{{ item.regexp }}"
    line: "{{ item.line }}"
    state: present
    create: false
  loop:
    - { regexp: 'apply_updates =', line: 'apply_updates = yes' }
    - { regexp: 'reboot =', line: 'reboot = when-needed' }

- name: Create systemd drop-in directory for dnf-automatic.timer
  ansible.builtin.file:
    path: /etc/systemd/system/dnf-automatic.timer.d
    state: directory
    mode: '0755'

- name: Configure dnf-automatic timer to run on Saturday at 10 PM
  ansible.builtin.copy:
    content: |
      [Timer]
      # Clear the default schedule
      OnCalendar=
      RandomizedDelaySec=0

      [Timer]
      OnCalendar=Sat 22:00
      RandomizedDelaySec=180m
      Persistent=true
    dest: /etc/systemd/system/dnf-automatic.timer.d/override.conf
    mode: '0644'
  notify:
    - Reload systemd daemon
    - Restart dnf-automatic timer
