---
- name: Fetch tailscale repo keyring
  ansible.builtin.get_url:
    url: "https://pkgs.tailscale.com/stable/ubuntu/{{ ansible_distribution_release }}.noarmor.gpg"
    dest: /usr/share/keyrings/tailscale-archive-keyring.gpg

- name: Add tailscale repo
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/tailscale-archive-keyring.gpg] https://pkgs.tailscale.com/stable/ubuntu {{ ansible_distribution_release }} main"
    state: present

- name: Install required packages
  ansible.builtin.package:
    name:
      - htop
      - ncdu
      - sudo
      - vnstat
      - unattended-upgrades
      - prometheus-node-exporter
      - vim-tiny
      - apt-transport-https
      - tailscale
    state: present
    update_cache: true
    lock_timeout: 120
  register: consolidated_pkg_result

- name: remind to configure tailscale
  ansible.builtin.pause:
    prompt: "ssh to the server and configure tailscale"
  when: consolidated_pkg_result.changed

- name: start and enable services
  ansible.builtin.systemd:
    state: started
    name: "{{ item }}"
    enabled: true
  with_items:
    - tailscaled
    - vnstat
    - apt-daily-upgrade.timer
    - prometheus-node-exporter
    - unattended-upgrades

- name: Disable daily unattended-upgrades via apt-periodic and enable lists update
  ansible.builtin.copy:
    content: |
      APT::Periodic::Update-Package-Lists "1";
      APT::Periodic::Unattended-Upgrade "0";
    dest: /etc/apt/apt.conf.d/20auto-upgrades
    mode: '0644'

- name: Configure 50unattended-upgrades for automatic reboot
  ansible.builtin.lineinfile:
    path: /etc/apt/apt.conf.d/50unattended-upgrades
    regexp: '^(// )?Unattended-Upgrade::Automatic-Reboot ".*";'
    line: 'Unattended-Upgrade::Automatic-Reboot "true";'
    state: present

- name: Set automatic reboot time in 50unattended-upgrades (for when a reboot is triggered)
  ansible.builtin.lineinfile:
    path: "/etc/apt/apt.conf.d/50unattended-upgrades"
    regexp: '^(// )?Unattended-Upgrade::Automatic-Reboot-Time ".*";'
    line: 'Unattended-Upgrade::Automatic-Reboot-Time "01:00";'
    state: present

- name: Enable automatic installation of general updates (-updates repository)
  ansible.builtin.lineinfile:
    path: /etc/apt/apt.conf.d/50unattended-upgrades
    regexp: '^(//\s*)?"\${distro_id}:\${distro_codename}-updates";'
    line: '"${distro_id}:${distro_codename}-updates";'
    state: present

- name: Add cron job for unattended-upgrades on Sunday 10 PM
  ansible.builtin.cron:
    name: "Run unattended-upgrades on Sunday 10 PM"
    minute: "0"
    hour: "22"
    weekday: "0"
    job: "/usr/bin/unattended-upgrade"
    user: root
