#!/bin/sh
# {{ ansible_managed }}
# GitLab Runner custom executor: run stage
# Executes the CI script inside the ephemeral pot jail.

set -e

PATH="/usr/local/bin:/usr/local/sbin:/usr/bin:/usr/sbin:/bin:/sbin"

POT_NAME="ci-job-${CUSTOM_ENV_CI_JOB_ID}"
SCRIPT_HOST="${1}"

pot copy-in -F -p "${POT_NAME}" -s "${SCRIPT_HOST}" -d /tmp/job-script.sh
pot exec -p "${POT_NAME}" /bin/sh /tmp/job-script.sh
