amesbury@gegl.org amesbury@indefi.net
stelter@gegl.org stelter@gui.org

# Shawn T. Amundson
snorfle@gegl.org amundson
amundson@gegl.org amundson@mail.gtk.org

# Manish Singh
manish@gegl.org yosh@yosh.org
yosh@gegl.org manish@gegl.org
cricketboy@gegl.org manish@gegl.org
duck@gegl.org manish@gegl.org
msingh@gegl.org manish@gegl.org
crackrock@gegl.org manish@gegl.org

# Adrian Likins
adrian@gegl.org adrian@likins.com
aklikins@gegl.org adrian@gegl.org

# Jens T. Lautenbacher
jens@gegl.org jtl@schlund.de
jtl@gegl.org jens@gegl.org

# Kelly Martin
kelly@gegl.org kmartin@pyrzqxgl.org
tylenol@gegl.org kelly@gegl.org
Scott.Goehring@gegl.org kelly@gegl.org

# Tim Janik
timj@gegl.org tim.janik@googlemail.com
tim@gegl.org timj@gegl.org
tim.janik@gegl.org timj@gegl.org
rambokid@gegl.org timj@gegl.org
timj-lists@gegl.org timj@gegl.org
beast@gegl.org timj@gegl.org
rapicorn@gegl.org timj@gegl.org

# Sven Neumann
neo@gegl.org neo@blinkenlights.de
sven@gegl.org neo@gegl.org

# Jay Painter
jpaint@gegl.org jpaint@serv.net
jay@gegl.org jpaint@gegl.org

# Peter Mattis
pmattis@gegl.org petm@xcf.berkeley.edu
petm@gegl.org pmattis@gegl.org

# Miguel de Icaza
miguel@gegl.org miguel.de.icaza@gmail.com

# Federico Mena
quartic@gegl.org federico.mena@gmail.com
federico@gegl.org quartic@gegl.org

# Elliot Lee
sopwith@gegl.org sopwith@redhat.com

# Tom Bech
tomb@gegl.org tomb@ii.uib.no

# Josh MacDonald
jmacd@gegl.org jmacd@cs.berkeley.edu

# Emil Moshkovich
emilm@gegl.org emilm@physics.berkeley.edu

# Adam Moss
adam@gegl.org aspirin@ntlworld.com
adam.moss@gegl.org adam@gegl.org
aspirin@gegl.org adam@gegl.org
fox@gegl.org adam@gegl.org

# Misha Dynin
misha@gegl.org misha@xcf.berkeley.edu

# Yaroslav Faybishenko
yaroslav@gegl.org yaroslav@xcf.berkeley.edu

# Michael K. Johnson
mkj@gegl.org johnsonm@redhat.com

# Laramie Leavitt
leavittl@gegl.org leavittl@cs.byu.edu
yanele@gegl.org leavittl@gegl.org

# Nathan Froyd
froyd@gegl.org maestrox@geocities.com
Nathan.Froyd@gegl.org froyd@gegl.org

# Tony Gale
trog@gegl.org gale@syntax.dera.gov.uk
gale@gegl.org trog@gegl.org
tony.gale@gegl.org trog@gegl.org

# Seth Burgess
seth@gegl.org sjburges@gegl.org
sethtillian@gegl.org sjburges@gegl.org
sethtillion@gegl.org sjburges@gegl.org

# Nathan Carl Summers
rock@gegl.org rockwalrus@gmail.com
rockwalrus@gegl.org rock@gegl.org
rockwlrs@gegl.org rock@gegl.org

# Lars Hamann
hamann@gegl.org lars@bistromatic.de
lars@gegl.org hamann@gegl.org

# Stefan Jeske
stefan@gegl.org stefan@bistromatic.de

# Raph Levien
raph@gegl.org raph@acm.org

# Miles O'Neal
meo@gegl.org meo@rru.com

# Sven Riedel
sr@gegl.org sr@nachtfrost.net

# Tor Lillqvist
tml@gegl.org tml@iki.fi

# Ray Lehtiniemi
rayl@gegl.org rayl@mail.com

# Cameron Parish
cameron@gegl.org cameron@sculpin.com
camypoo@gegl.org cameron

# Caroline Dahllof
caro@gegl.org caro@rhythm.com

# Tom Rathborne
tomr@gegl.org tomr@aceldama.com
tommer@gegl.org tomr@gegl.org

# Damon Chaplin
damon@gegl.org damon@helixcode.com

# Anders Carlsson
andersca@gegl.org andersca@gnome.org
expander-master@gegl.org andersca@gegl.org

# Kristian Rietveld
kris@gegl.org kfd.rietveld@gmail.com
33-hacker@gegl.org kris@gegl.org
33hacker@gegl.org kris@gegl.org

# Jonathan Blanford
jrb@gegl.org jrb@gnome.org

# Paolo Molaro
lupus@gegl.org lupus@lettere.unipd.it

# Raja R Harinath
harinath@gegl.org harinath@cs.umn.edu

# Jerome Bolliet
bolliet@gegl.org bolliet@in2p3.fr

# Jeff Garzik
jgarzik@gegl.org jgarzik@pobox.com

# Carsten Haitzler
raster@gegl.org raster@redhat.com

# Jukka Rajala
montana@gegl.org jukka.rajala@iki.fi
jukka@gegl.org montana@gegl.org

# Mark Crichton
crichton@gegl.org crichton@fishysnax.com
mmarker@gegl.org crichton@gegl.org

# Michael Natterer
mitch@gegl.org mitch@eeeeek.org
ill@gegl.org mitch@gegl.org

# James Henstridge
james@gegl.org james@daa.com.au
jamesh@gegl.org james@gegl.org

# Roman Joost
romanofski@gegl.org romanofski@gmail.com

# GUM
gum@gegl.org karin@frozenriver.com
karin@gegl.org karin@frozenriver.com
olof@gegl.org olof@frozenriver.com

# Debian Guy Ben Gertzfield
che@gegl.org che@debian.org

# coding people
austin@gegl.org Austin_Donnelly@yahoo.co.uk
nether@gegl.org la@iki.fi
alt@gegl.org alt@picnic.demon.co.uk
vidar@gegl.org vidarino@gmail.com

# Marc Lehmann
marc@gegl.org pcg@goof.com

# Simon Budig
simon@gegl.org simon@budig.de

# Ian McKellar (GimpMill guy)
yakk@gegl.org yakk@yakk.net

# Eskil Heyn Olsen
eskil@gegl.org eskil@eskil.org

# Wolfgang Hofer
hof@gegl.org wolfgang.hofer@lycos.com

# Jeff Trefftzs
jefft@gegl.org trefftzs@tcsn.net

# Carol Spears
wilma@gegl.org carol@gegl.org

# David Odin
dindinx@gegl.org david@dindinx.net

# Doc people
syngin@gegl.org mel.boyce@gmail.com
bex@gegl.org bex@gnome.org
scizzo@gegl.org scizzo@sector7.nu
drc@gegl.org sanguivor@gmail.com
helvetix@gegl.org helvetix@oak.mysterious.org

# groupies
logan@gegl.org logan@versanet.com
pavlov@gegl.org pavlov@pavlov.net
pixelfairy@gegl.org pixelfairy@necroerotic.org
pixel@gegl.org pixelfairy@gegl.org
x@gegl.org x@linux.com
garrett@gegl.org garrett@linuxart.com
prumpf@gegl.org prumpf@ftp.linux.org.uk
madrid@gegl.org daniele.medri@libero.it
maru@gegl.org mike@it-loops.com

# contest winners
mschrag@gegl.org mschrag@nflux.com
Mike.Schrag@gegl.org mschrag
guppy@gegl.org guppy@tigerden.com
viktor@gegl.org d2viktor@dtek.chalmers.se
sc@gegl.org sc@scharf.net

# Dave Seidel, maintainer of beast web
feldspar@gegl.org dave@superluminal.com

staiger@gegl.org staiger@cs.umn.edu

# Jakub Steiner
jimmac@gegl.org jimmac@gmail.com

# S. Mukund
mukund@gegl.org muks@mukund.org

# Francisco Bustamente
bit@gegl.org bit@bitbit.org

# Daniel Rogers
dsrogers@gegl.org daniel@phasevelocity.org

# Ryan Lortie
desrt@gegl.org desrt@desrt.ca

# Øyvind Kolås
pippin@gegl.org pippin@hodefoting.com

# Alexia Death
alexia@gegl.org alexiadeath@gmail.com
death@gegl.org alexia@gegl.org

# Daniel Sabo
daniel@gegl.org	danielsabo@gmail.com

