amesbury@gimp.net amesbury@indefi.net
stelter@gimp.net stelter@gui.org

# Shawn T. Amundson
snorfle@gimp.net amundson
amundson@gimp.net amundson@mail.gtk.org

# Manish Singh
manish@gimp.net yosh@yosh.org
yosh@gimp.net manish@gimp.net
cricketboy@gimp.net manish@gimp.net
duck@gimp.net manish@gimp.net
msingh@gimp.net manish@gimp.net
crackrock@gimp.net manish@gimp.net

# Adrian Likins
adrian@gimp.net adrian@likins.com
aklikins@gimp.net adrian@gimp.net

# Jens T. Lautenbacher
jens@gimp.net jtl@schlund.de
jtl@gimp.net jens@gimp.net

# Kelly Martin
kelly@gimp.net kmartin@pyrzqxgl.org
tylenol@gimp.net kelly@gimp.net
Scott.Goehring@gimp.net kelly@gimp.net

# Tim Janik
timj@gimp.net tim.janik@googlemail.com
tim@gimp.net timj@gimp.net
tim.janik@gimp.net timj@gimp.net
rambokid@gimp.net timj@gimp.net
timj-lists@gimp.net timj@gimp.net
beast@gimp.net timj@gimp.net
rapicorn@gimp.net timj@gimp.net

# Sven Neumann
neo@gimp.net neo@blinkenlights.de
sven@gimp.net neo@gimp.net

# Jay Painter
jpaint@gimp.net jpaint@serv.net
jay@gimp.net jpaint@gimp.net

# Peter Mattis
pmattis@gimp.net petm@xcf.berkeley.edu
petm@gimp.net pmattis@gimp.net

# Miguel de Icaza
miguel@gimp.net miguel.de.icaza@gmail.com

# Federico Mena
quartic@gimp.net federico.mena@gmail.com
federico@gimp.net quartic@gimp.net

# Elliot Lee
sopwith@gimp.net sopwith@redhat.com

# Tom Bech
tomb@gimp.net tomb@ii.uib.no

# Josh MacDonald
jmacd@gimp.net jmacd@cs.berkeley.edu

# Emil Moshkovich
emilm@gimp.net emilm@physics.berkeley.edu

# Adam Moss
adam@gimp.net c@yotes.com
adam.moss@gimp.net adam@gimp.net
aspirin@gimp.net adam@gimp.net
fox@gimp.net adam@gimp.net

# Misha Dynin
misha@gimp.net misha@xcf.berkeley.edu

# Yaroslav Faybishenko
yaroslav@gimp.net yaroslav@xcf.berkeley.edu

# Michael K. Johnson
mkj@gimp.net johnsonm@redhat.com

# Laramie Leavitt
leavittl@gimp.net leavittl@cs.byu.edu
yanele@gimp.net leavittl@gimp.net

# Nathan Froyd
froyd@gimp.net maestrox@geocities.com
Nathan.Froyd@gimp.net froyd@gimp.net

# Tony Gale
trog@gimp.net gale@syntax.dera.gov.uk
gale@gimp.net trog@gimp.net
tony.gale@gimp.net trog@gimp.net

# Seth Burgess
seth@gimp.net sjburges@gimp.net
sethtillian@gimp.net sjburges@gimp.net
sethtillion@gimp.net sjburges@gimp.net

# Nathan Carl Summers
rock@gimp.net rockwalrus@gmail.com
rockwalrus@gimp.net rock@gimp.net
rockwlrs@gimp.net rock@gimp.net

# Lars Hamann
hamann@gimp.net lars@bistromatic.de
lars@gimp.net hamann@gimp.net

# Stefan Jeske
stefan@gimp.net stefan@bistromatic.de

# Raph Levien
raph@gimp.net raph@acm.org

# Miles O'Neal
meo@gimp.net meo@rru.com

# Sven Riedel
sr@gimp.net sr@nachtfrost.net

# Tor Lillqvist
tml@gimp.net tml@iki.fi

# Ray Lehtiniemi
rayl@gimp.net rayl@mail.com

# Cameron Parish
cameron@gimp.net cameron@sculpin.com
camypoo@gimp.net cameron

# Caroline Dahllof
caro@gimp.net caro@rhythm.com

# Tom Rathborne
tomr@gimp.net tomr@aceldama.com
tommer@gimp.net tomr@gimp.net

# Damon Chaplin
damon@gimp.net damon@helixcode.com

# Anders Carlsson
andersca@gimp.net andersca@gnome.org
expander-master@gimp.net andersca@gimp.net

# Kristian Rietveld
kris@gimp.net kfd.rietveld@gmail.com
33-hacker@gimp.net kris@gimp.net
33hacker@gimp.net kris@gimp.net

# Jonathan Blanford
jrb@gimp.net jrb@gnome.org

# Paolo Molaro
lupus@gimp.net lupus@lettere.unipd.it

# Raja R Harinath
harinath@gimp.net harinath@cs.umn.edu

# Jerome Bolliet
bolliet@gimp.net bolliet@in2p3.fr

# Jeff Garzik
jgarzik@gimp.net jgarzik@pobox.com

# Carsten Haitzler
raster@gimp.net raster@redhat.com

# Jukka Rajala
montana@gimp.net jukka.rajala@iki.fi
jukka@gimp.net montana@gimp.net

# Mark Crichton
crichton@gimp.net crichton@fishysnax.com
mmarker@gimp.net crichton@gimp.net

# Michael Natterer
mitch@gimp.net mitch@eeeeek.org
ill@gimp.net mitch@gimp.net

# James Henstridge
james@gimp.net james@daa.com.au
jamesh@gimp.net james@gimp.net

# Roman Joost
romanofski@gimp.net romanofski@gmail.com

# GUM
gum@gimp.net karin@frozenriver.com
karin@gimp.net karin@frozenriver.com
olof@gimp.net olof@frozenriver.com

# Debian Guy Ben Gertzfield
che@gimp.net che@debian.org

# coding people
austin@gimp.net Austin_Donnelly@yahoo.co.uk
nether@gimp.net la@iki.fi
alt@gimp.net alt@picnic.demon.co.uk
vidar@gimp.net vidarino@gmail.com

# Marc Lehmann
marc@gimp.net pcg@goof.com

# Simon Budig
simon@gimp.net simon@budig.de

# Ian McKellar (GimpMill guy)
yakk@gimp.net yakk@yakk.net

# Eskil Heyn Olsen
eskil@gimp.net eskil@eskil.org

# Wolfgang Hofer
hof@gimp.net wolfgang.hofer@lycos.com

# Jeff Trefftzs
jefft@gimp.net trefftzs@tcsn.net

# Carol Spears
wilma@gimp.net carol@gimp.net

# David Odin
dindinx@gimp.net david@dindinx.net

# Doc people
syngin@gimp.net mel.boyce@gmail.com
bex@gimp.net bex@gnome.org
scizzo@gimp.net scizzo@sector7.nu
drc@gimp.net sanguivor@gmail.com
helvetix@gimp.net helvetix@oak.mysterious.org

# groupies
logan@gimp.net logan@versanet.com
pavlov@gimp.net pavlov@pavlov.net
pixelfairy@gimp.net pixelfairy@necroerotic.org
pixel@gimp.net pixelfairy@gimp.net
x@gimp.net x@linux.com
garrett@gimp.net garrett@linuxart.com
prumpf@gimp.net prumpf@ftp.linux.org.uk
madrid@gimp.net daniele.medri@libero.it
maru@gimp.net mike@it-loops.com

# contest winners
mschrag@gimp.net mschrag@nflux.com
Mike.Schrag@gimp.net mschrag
guppy@gimp.net guppy@tigerden.com
viktor@gimp.net d2viktor@dtek.chalmers.se
sc@gimp.net sc@scharf.net

# Dave Seidel, maintainer of beast web
feldspar@gimp.net dave@superluminal.com

staiger@gimp.net staiger@cs.umn.edu

# Jakub Steiner
jimmac@gimp.net jimmac@gmail.com

# S. Mukund
mukund@gimp.net muks@mukund.org

# Francisco Bustamente
bit@gimp.net bit@bitbit.org

# Daniel Rogers
dsrogers@gimp.net daniel@phasevelocity.org

# Ryan Lortie
desrt@gimp.net desrt@desrt.ca

# Øyvind Kolås
pippin@gimp.net pippin@hodefoting.com

# Alexia Death
alexia@gimp.net alexiadeath@gmail.com
death@gimp.net alexia@gimp.net
