sponsors@guadec.org	sponsorship@gnome.org
registration@guadec.org	guadec@gnome.org
press@guadec.org	guadec@gnome.org
info@guadec.org		guadec@gnome.org
youtube@guadec.org	guadec@gnome.org
volunteers@guadec.org   guadec@gnome.org

hostmaster@guadec.org	gnome-sysadmin@gnome.org
webmaster@guadec.org	gnome-sysadmin@gnome.org
