[Unit]
Description=Docker garbage collector

[Service]
Type=oneshot
ExecStart=/usr/local/bin/docker-gc

{% for variable, value in gitlab_runner_gc_env.items() %}
Environment={{ variable }}="{{ value }}"
{% endfor %}
