[Unit]
Description=GitLab Runner
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target
RequiresMountsFor=/run/user/{{ podman_user.uid }}/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
RestartSec=10s
TimeoutStartSec=30s
TimeoutStopSec=180s
ExecStartPre=-rm -f /run/user/{{ podman_user.uid }}/%n.ctr-id
ExecStart=/usr/bin/podman \
	--url unix:/run/user/{{ podman_user.uid }}/podman/podman.sock container run \
	--cidfile=/run/user/{{ podman_user.uid }}/%n.ctr-id \
	--cgroups=no-conmon \
	--rm \
	--attach STDOUT \
	--attach STDERR \
	--sdnotify=conmon \
	--replace \
	--name gitlab-runner \
	--volume /run/user/{{ podman_user.uid }}/podman/podman.sock:/var/run/docker.sock:z \
	--volume /home/podman/gitlab-runner:/etc/gitlab-runner:Z \
	--label io.containers.autoupdate=image \
	--label org.gnome.pydocuum.skip=True registry.gitlab.com/gitlab-org/gitlab-runner:latest
ExecStop=/usr/bin/podman stop \
	--ignore -t 10 \
	--cidfile=/run/user/{{ podman_user.uid }}/%n.ctr-id
ExecStopPost=/usr/bin/podman rm \
	-f \
	--ignore -t 10 \
	--cidfile=/run/user/{{ podman_user.uid }}/%n.ctr-id
NotifyAccess=all

[Install]
WantedBy=default.target
