[Unit]
Description=pydocuum
Wants=network-online.target
After=network-online.target
RequiresMountsFor=/run/user/{{ podman_user.uid }}/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
RestartSec=10s
TimeoutStartSec=30s
TimeoutStopSec=180s
ExecStartPre=-rm -f /run/user/{{ podman_user.uid }}/%n.ctr-id
ExecStart=/usr/bin/podman \
	--url unix:/run/user/{{ podman_user.uid }}/podman/podman.sock \
	container run \
	--attach STDOUT \
	--attach STDERR \
	--cidfile=/run/user/{{ podman_user.uid }}/%n.ctr-id \
	--init \
	--cgroups=no-conmon \
	--rm \
	--sdnotify=conmon \
	--replace \
	--name pydocuum \
	--volume /run/user/{{ podman_user.uid }}/podman/podman.sock:/run/podman.sock:z \
	--volume /var/lib/containers:/var/lib/containers:ro \
	--label io.containers.autoupdate=image \
	--label org.gnome.pydocuum.skip=True quay.io/gnome_infrastructure/pydocuum:latest
ExecStop=/usr/bin/podman stop \
	--ignore -t 10 \
	--cidfile=/run/user/{{ podman_user.uid }}/%n.ctr-id
ExecStopPost=/usr/bin/podman rm \
	-f \
	--ignore -t 10 \
	--cidfile=/run/user/{{ podman_user.uid }}/%n.ctr-id
NotifyAccess=all

[Install]
WantedBy=default.target
