L+ /run/user/{{ podman_user.uid }}/containers/networks/rootless-netns/run/systemd/resolve/resolv.conf - - - - /run/systemd/resolve/resolv.conf 
L+ /run/user/{{ podman_user.uid }}/containers/networks/rootless-netns/run/systemd/resolve/stub-resolv.conf - - - - /run/systemd/resolve/stub-resolv.conf 
