module flatpak_builder 1.0;

require {
	type autofs_t;
	type container_runtime_tmpfs_t;
	type container_t;
	type devpts_t;
	type fs_t;
	type proc_t;
	type tmpfs_t;
	class dir mounton;
	class filesystem { mount remount unmount };
}

#============= container_t ==============

allow container_t autofs_t:filesystem remount;
allow container_t container_runtime_tmpfs_t:dir mounton;
allow container_t devpts_t:filesystem mount;
allow container_t fs_t:filesystem remount;
allow container_t proc_t:filesystem mount;
allow container_t proc_t:filesystem remount;
allow container_t tmpfs_t:filesystem mount;
allow container_t tmpfs_t:filesystem remount;
allow container_t tmpfs_t:filesystem unmount;
