[Unit]
Description=Renew OCP4 wildcard LE certificate

[Service]
Type=oneshot
User=letsencrypt
WorkingDirectory=/srv/letsencrypt
ExecStart=/usr/bin/certbot -v certonly --noninteractive --no-random-sleep-on-renew --work-dir /srv/letsencrypt/ --config-dir /srv/letsencrypt/config/ --logs-dir /srv/letsencrypt/logs/ --manual --preferred-challenges=dns --manual-auth-hook /home/admin/bin/certbot/auth-hook --manual-cleanup-hook /home/admin/bin/certbot/cleanup-hook --cert-name gnome.org -d '*.gnome.org,*.apps.openshift4.gnome.org,*.bugzilla-attachments.gnome.org,*.guadec.org,*.pages.gitlab.gnome.org,guadec.org,gnome.org'
