APP_URL={{ cachet_url }}
APP_KEY={{ cachet_app_key }}

DB_DRIVER=mysql
DB_HOST={{ cachet_db_host }}
DB_DATABASE={{ cachet_db_name }}
DB_USERNAME={{ cachet_db_user }}
DB_PASSWORD={{ cachet_db_password }}
DB_PORT=3306

APP_ENV=production
APP_DEBUG=false
APP_TIMEZONE=UTC

CACHET_PATH=/

CACHET_DOMAIN={{ cachet_url }}
CACHET_TITLE="GNOME Infrastructure Status"
TRUSTED_PROXIES=127.0.0.1