worker "fuzzy" {
  bind_socket = "127.0.0.1:11335";
  allow_update = ["127.0.0.1"];
  count = 4;

  backend = "redis";
  expire = 180d;
  sync = 1min;
}

metric {
  name = "default";
  group {
    name = "bayes";
    symbol {
      weight = 2.0;
      description = "Message probably spam, probability: ";
      name = "BAYES_SPAM";
    }   
    symbol {
      weight = -5.0;
      description = "Message probably ham, probability: ";
      name = "BAYES_HAM";
    }   
  } 
}
