---
- name: Put selinux in permissive mode
  ansible.posix.selinux:
    policy: targeted
    state: permissive
  when: ansible_distribution in ["Fedora", "RedHat"]

- name: Install podman
  ansible.builtin.package:
    name:
      - podman
      - podman-docker
      - fuse-overlayfs
      - slirp4netns
      - systemd-container
    state: present
    update_cache: true

- name: Create podman user
  ansible.builtin.user:
    name: podman
    shell: /bin/bash
    system: true
  register: podman_user

- name: Configure subuids and subguids for podman user
  ansible.builtin.lineinfile:
    path: "{{ item }}"
    regexp: '^podman'
    line: podman:524288:1100000000
  with_items:
    - /etc/subgid
    - /etc/subuid
  notify: podman system migrate

- name: Enable linger for podman user
  ansible.builtin.command: loginctl enable-linger podman
  args:
    creates: /var/lib/systemd/linger/podman

- name: Start podman socket and auto-update timer
  ansible.builtin.systemd:
    name: "{{ item }}"
    state: started
    enabled: true
    scope: user
  become_user: podman
  become: true
  with_items:
    - podman.socket
    - podman-auto-update.timer

- name: Configure selinux modules
  ansible.builtin.include_tasks: selinux.yml
  loop:
    - pydocuum
    - flatpak
    - podman
  when: ansible_distribution in ["Fedora", "RedHat"]

- name: Ensure podman user service override directory exists
  ansible.builtin.file:
    path: /etc/systemd/user/podman.service.d/
    state: directory
    mode: '0755'

- name: Configure podman user service to run through catatonit
  ansible.builtin.copy:
    src: podman.service.override.conf
    dest: /etc/systemd/user/podman.service.d/catatonit.conf
    mode: '0644'

- name: Create podman config directory
  ansible.builtin.file:
    path: "{{ podman_user.home }}/.config/containers"
    state: directory
    mode: '0700'
  become: true
  become_user: podman

- name: Configure podman
  ansible.builtin.copy:
    src: containers.conf
    dest: "{{ podman_user.home }}/.config/containers/containers.conf"
    mode: '0644'
  become: true
  become_user: podman

- name: Create gitlab-runner config directory
  ansible.builtin.file:
    path: "{{ podman_user.home }}/gitlab-runner"
    state: directory
    mode: '0700'
  become: true
  become_user: podman

- name: Configure gitlab-runner
  ansible.builtin.template:
    src: gitlab-runner-config.toml.j2
    dest: "{{ podman_user.home }}/gitlab-runner/config.toml"
    mode: '0600'
  become: true
  become_user: podman
  notify: restart gitlab-runner

- name: Copy seccomp profile for building flatpaks
  ansible.builtin.copy:
    src: flatpak.seccomp.json
    dest: "{{ podman_user.home }}/gitlab-runner/flatpak.seccomp.json"
    mode: '0644'
  become: true
  become_user: podman

- name: Add unit for gitlab-runner service
  ansible.builtin.template:
    src: gitlab-runner.service.j2
    dest: /etc/systemd/user/gitlab-runner.service
    mode: '0644'
  notify: restart gitlab-runner

- name: Start gitlab-runner
  ansible.builtin.systemd:
    name: gitlab-runner.service
    state: started
    enabled: true
    daemon_reload: true
    scope: user
  become_user: podman
  become: true

- name: Add unit for pydocuum service
  ansible.builtin.template:
    src: pydocuum.service.j2
    dest: /etc/systemd/user/pydocuum.service
    mode: '0644'
  notify: restart pydocuum
  when: gitlab_runner_enable_pydocuum | default(true)

- name: Start pydocuum
  ansible.builtin.systemd:
    name: pydocuum.service
    state: started
    enabled: true
    daemon_reload: true
    scope: user
  become_user: podman
  become: true
  when: gitlab_runner_enable_pydocuum | default(true)

- name: Create quadlet for buildbox-casd
  containers.podman.podman_container:
    name: buildbox-casd
    image: registry.gitlab.com/freedesktop-sdk/infrastructure/freedesktop-sdk-docker-images/buildbox-casd:b22cda9dfa2c8792f434428b9f2ca5ce0ad66a2d
    state: quadlet
    command:
      - "--buildbox-run"
      - "buildbox-run-bubblewrap"
      - "--jobs"
      - "{{ gitlab_runner_buildbox_casd_jobs }}"
      - "--cache-failures"
      - "false"
      - "--bind unix:/run/casd/casd.sock"
      - "--quota-high"
      - "200G"
      - "/srv/cas"
    quadlet_filename: buildbox-casd
    privileged: true
    volumes:
      - casd_socket:/run/casd
      - casd_storage:/srv/cas
    label:
      org.gnome.pydocuum.skip: "True"
    quadlet_options:
      - "AutoUpdate=registry"
      - "Pull=newer"
      - |
        [Service]
        Restart=always
      - |
        [Install]
        WantedBy=default.target
  become_user: podman
  become: true
  when: gitlab_runner_buildbox_casd | default(false)
  notify: restart buildbox-casd

- name: Clean up old user systemd services
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  with_items:
    - "/{{ podman_user.home }}/.config/systemd/user/pydocuum.service"
    - "/{{ podman_user.home }}/.config/systemd/user/gitlab-runner.service"

- name: Make sure pydocuum, gitlab-runner, podman were not started as root
  ansible.builtin.systemd:
    name: "{{ item }}.service"
    state: stopped
    enabled: false
    daemon_reload: true
    scope: user
  loop: >
    {{ ['podman', 'gitlab-runner', 'pydocuum']
       | reject('equalto', 'pydocuum')
       | list
       if not gitlab_runner_enable_pydocuum | default(true) | bool
       else ['podman', 'gitlab-runner', 'pydocuum'] }}

- name: Relax /dev/kvm permissions
  ansible.builtin.copy:
    src: 00-kvm.rules
    dest: /etc/udev/rules.d/00-kvm.rules
    mode: '0644'
    owner: root
    group: root
  notify:
    - reload udevadm
    - trigger udevadm

- name: configure vkms module to load at boot
  ansible.builtin.copy:
    src: 60-vkms.conf
    dest: /etc/modules-load.d/60-vkms.conf
    mode: 0644
    owner: root
    group: root

- name: load vkms module immediately
  community.general.modprobe:
    name: vkms
    state: present

- name: Enable systemctl --user as podman
  ansible.builtin.lineinfile:
    path: "~/.bashrc"
    line: "{{ item }}"
  loop:
    - 'export XDG_RUNTIME_DIR=/run/user/$(id -u)'
    - 'export DBUS_SESSION_BUS_ADDRESS=unix:path=$XDG_RUNTIME_DIR/bus'
  become_user: podman
  become: true

- name: Ensure podman-cleanup service file is copied
  ansible.builtin.copy:
    src: podman-cleanup.service
    dest: /etc/systemd/system/podman-cleanup.service
    owner: root
    group: root
    mode: '0644'
  notify: reload systemd daemon

- name: Ensure podman-cleanup timer file is copied
  ansible.builtin.copy:
    src: podman-cleanup.timer
    dest: /etc/systemd/system/podman-cleanup.timer
    owner: root
    group: root
    mode: '0644'
  notify: reload systemd daemon

- name: Ensure podman-cleanup timer is enabled and started
  ansible.builtin.systemd:
    name: podman-cleanup.timer
    enabled: true
    state: started
