---
- hosts: all
  gather_facts: false
  remote_user: root
  collections:
   - community.general
  tasks:
    - name: Check if system is registered to RHSM
      ansible.builtin.command: subscription-manager identity
      register: rhsm_status
      failed_when: false
      changed_when: false

    - name: Register system to RHSM
      community.general.redhat_subscription:
        state: present
        username: "{{ rhsm_username }}"
        password: "{{ rhsm_password }}"
        auto_attach: true
      when: rhsm_status.rc != 0

- hosts: all !gimp
  gather_facts: true
  remote_user: root
  roles:
   - packages
   - motd
   - chrony
   - iptables
   - postfix.wrapper
   - bash
   - base_auth
   - base_network
   - rsyslog
   - backup
   - node-exporter
   - ipaclient.wrapper
   - rh_insights

- hosts: gimp
  gather_facts: true
  remote_user: root
  roles:
   - packages
   - motd
   - chrony
   - sshguard
   - iptables
   - bash
   - base_auth
   - gimp_auth
   - gimp_rsyncd
   - gimp_mirrorbits
   - rh_insights

- hosts: cachet
  gather_facts: false
  remote_user: root
  roles:
    - cachet

- hosts: cachet-monitor
  gather_facts: false
  remote_user: root
  roles:
    - cachet-monitor
