groups:
- name: node
  rules:
  - alert: Instance down
    expr: "up == 0"
    for: 5m
    annotations:
      summary: "{% raw %}Instance {{ $labels.instance }} is down{% endraw %}"
  - alert: Instance rebooted
    expr: node_boot_time_seconds < 60
    annotations:
      summary: "{% raw %}Instance {{ $labels.instance }} was rebooted{% endraw %}"
  - alert: High CPU usage
    expr: '1 - (avg by (instance) (irate(node_cpu_seconds_total{job="node",mode="idle"}[5m]))) > 0.9'
    for: 10m
    annotations:
      summary: "{% raw %}Instance {{ $labels.instance }} is under high CPU usage{% endraw %}"
  - alert: Probe failed
    expr: probe_success == 0
    for: 5m
    annotations:
      summary: "{% raw %}Endpoint {{ $labels.instance }} is down for more than 10s{% endraw %}"
