global:
  scrape_interval: 15s
  evaluation_interval: 15s
  scrape_timeout: 10s

alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - 127.0.0.1:9093

rule_files:
  - rules/*.rules

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
    - targets:
      - 127.0.0.1:9090

  - job_name: 'node'
    static_configs:
{% for hostgroup in prometheus_node_hostgroups %}
    - targets:
{% for host in groups[hostgroup] %}
      - vpn.{{ host }}:9100
{% endfor %}
      labels:
        hostgroup: {{ hostgroup }}
{% endfor %}
    - targets:
{% for target in prometheus_static_node_targets %}
      - {{ target }}
{% endfor %}
    relabel_configs:
    - source_labels: [ __address__ ]
      target_label: instance
      regex: vpn.(.*)

  - job_name: 'rocketchat'
    scheme: https
    static_configs:
    - targets:
      - rocketchat-exporter.openshift.gnome.org

  - job_name: 'mysqld'
    static_configs:
    - targets:
      - gesture.gnome.org:9104
      - scale.gnome.org:9104

  - job_name: 'postgres'
    static_configs:
    - targets:
      - gesture.gnome.org:9187
      - scale.gnome.org:9187

  - job_name: 'bbb'
    scheme: https
    static_configs:
    - targets:
      - bbb-exporter.openshift.gnome.org

  - job_name: 'openshift-node-exporter'
    scheme: https
    honor_labels: true
    bearer_token: {{ prometheus_openshift_token }}
    metrics_path: '/federate'
    params:
      'match[]':
      - '{job="node-exporter"}'
    static_configs:
    - targets:
      - prometheus-k8s-openshift-monitoring.openshift.gnome.org
    metric_relabel_configs:
    - source_labels: [ prometheus_replica ]
      regex: prometheus-k8s-1
      action: drop
    - source_labels: [ job ]
      target_label: job
      regex: node-exporter
      replacement: node
{% for host in groups['oscp-all'] %}
    - source_labels: [ instance ]
      target_label: instance
      regex: {{ hostvars[host].ansible_eth1['ipv4']['address'] }}:9100
      replacement: {{ host }}
{% endfor %}

  - job_name: 'gitlab-runners'
    honor_labels: true
    metrics_path: '/federate'
    params:
      'match[]':
      - '{job="node"}'
    static_configs:
    - targets:
      - fosshost.gnome.org:9090

  - job_name: 'blackbox'
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
        - https://webmail.gnome.org
        - https://bugzilla.gnome.org
        - https://blogs.gnome.org
        - https://cloud.gnome.org
        - https://odrs.gnome.org
        - https://gitlab.gnome.org
        - https://developer.gnome.org
        - https://glade.gnome.org
        - https://help.gnome.org
        - https://planeta.br.gnome.org
        - http://planeta.gnome.cl
        - https://planet.gnome.org
        - https://etherpad.gnome.org
        - https://download.gnome.org
        - https://paste.gnome.org/status
        - https://mail.gnome.org
        - https://l10n.gnome.org
        - https://extensions.gnome.org
        - https://wiki.gnome.org
        - https://meetbot.gnome.org
        - https://nmcheck.gnome.org/check_network_status.txt
        - https://www.gnome.org
        - https://discourse.gnome.org
        - https://events.gnome.org
        - https://www.gnome.gr
        - https://gnomehispano.org
        - https://es.gnome.org
        - https://planeta.es.gnome.org
        - https://gtk.org
        - https://gimp.org
        - https://docs.gimp.org
        - https://surveys.gnome.org
        - https://meet.gnome.org
        - https://nightly.gnome.org
        - https://shop.gnome.org
        - https://openqa.gnome.org
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: fosshost.gnome.org:9116

  - job_name: gitlab_redis
    static_configs:
      - targets:
        - gitlab.gnome.org:9121
  - job_name: gitlab_postgres
    static_configs:
      - targets:
        - gitlab.gnome.org:9187
  - job_name: gitlab_workhorse
    static_configs:
      - targets:
        - gitlab.gnome.org:9229
  - job_name: gitlab_exporter_sidekiq
    metrics_path: "/sidekiq"
    static_configs:
      - targets:
        - gitlab.gnome.org:9168
  - job_name: gitlab_gitaly
    static_configs:
      - targets:
        - gitlab.gnome.org:9236
