global:
  scrape_interval: 15s
  evaluation_interval: 15s
  scrape_timeout: 10s

alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - 127.0.0.1:9093

rule_files:
  - rules/*.rules

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
    - targets:
      - 127.0.0.1:9090

  - job_name: 'node'
    static_configs:
{% for hostgroup in prometheus_node_hostgroups %}
    - targets:
{% for host in groups[hostgroup] %}
      - vpn.{{ host }}:9100
{% endfor %}
      labels:
        hostgroup: {{ hostgroup }}
{% endfor %}
    - targets:
{% for target in prometheus_static_node_targets %}
      - {{ target }}
{% endfor %}
    relabel_configs:
    - source_labels: [ __address__ ]
      target_label: instance
      regex: vpn.(.*)

  - job_name: 'rocketchat'
    scheme: https
    static_configs:
    - targets:
      - rocketchat-exporter.openshift.gnome.org

  - job_name: 'mysqld'
    static_configs:
    - targets:
      - gesture.gnome.org:9104
      - scale.gnome.org:9104

  - job_name: 'postgres'
    static_configs:
    - targets:
      - gesture.gnome.org:9187
      - scale.gnome.org:9187

  - job_name: 'bbb'
    scheme: https
    static_configs:
    - targets:
      - bbb-exporter.openshift.gnome.org

  - job_name: 'openshift-node-exporter'
    scheme: https
    honor_labels: true
    bearer_token: {{ prometheus_openshift_token }}
    metrics_path: '/federate'
    params:
      'match[]':
      - '{job="node-exporter"}'
    static_configs:
    - targets:
      - prometheus-k8s-openshift-monitoring.openshift.gnome.org
    metric_relabel_configs:
    - source_labels: [ prometheus_replica ]
      regex: prometheus-k8s-1
      action: drop
    - source_labels: [ job ]
      target_label: job
      regex: node-exporter
      replacement: node
{% for host in groups['oscp-all'] %}
    - source_labels: [ instance ]
      target_label: instance
      regex: {{ hostvars[host].ansible_eth1['ipv4']['address'] }}:9100
      replacement: {{ host }}
{% endfor %}

  - job_name: 'gitlab-runners'
    scheme: https
    honor_labels: true
    metrics_path: '/federate'
    params:
      'match[]':
      - '{job="node"}'
    static_configs:
    - targets:
      - fosshost.gnome.org:9091

  - job_name: 'gitlab-ci-exporter'
    scheme: https
    static_configs:
    - targets:
      - gitlab-ci-exporter.openshift.gnome.org
