apiVersion: v1
kind: PersistentVolume
metadata:
  name: "{{ volume_name }}-volume"
  namespace: "{{ oscp_project }}"
spec:
  capacity:
    storage: "{{ logical_volume_size | mandatory }}m"
  accessModes:
    - "{{ oscp_volume_access_mode | mandatory }}"
  persistentVolumeReclaimPolicy: Retain
  storageClassName: slow
  glusterfs:
    endpoints: glusterfs-cluster
    path: "/{{ gluster_volume_name }}"
